.CheckoutSummary{
    width:80%;
    align-items: center;
    margin:auto;
}

.burger{
    margin-left:-100px;
}

.btn{
    margin-left: 150px;
}

.heading{
    margin-top:60px;
    font-family: 'Open-Sans';
    font-weight: bold;
}

@media (min-width:600px){
    .CheckoutSummary{
        width: 500px;
    }
}